@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.prompt-editor{

    position:relative;

    font-family: "Inter", sans-serif !important;

}

.prompt-editor textarea{

    width:100%;

    min-height:240px;

    resize:none;

    background:transparent;

    border:none;

    outline:none;

    color:#F8FAFC;

    font-size:1.05rem;

    line-height:1.8;

    font-family:"Manrope",sans-serif;

}

.prompt-placeholder{

    position:absolute;

    left:0;

    top:0;

    pointer-events:none;

}

.prompt-placeholder h3{

    color:#94A3B8;

    font-size:1.3rem;

}

.prompt-placeholder p{

    margin-top:12px;

    color:#64748B;

    line-height:1.8;

}

.prompt-footer{

    margin-top:20px;

    display:flex;

    justify-content:space-between;

    color:#64748B;

    font-size:.9rem;

}