.login-form{

    display:flex;

    flex-direction:column;

}

.login-options{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:24px;

    font-size:.9rem;

}

.login-options label{

    display:flex;

    align-items:center;

    gap:8px;

    color:#64748B;

}

.login-options input{

    accent-color:#2DA7BE;

}

.forgot-btn{

    display: inline-flex;

    margin-top: 12px;

    background:none;

    border:none;

    color:#2DA7BE;

    cursor:pointer;

    font-weight:600;

}

.forgot-btn:hover{

    text-decoration:underline;

}

.auth-switch{

    margin-top:24px;

    text-align:center;

    color:#64748B;

}

.auth-switch a{

    color:#2DA7BE;

    font-weight:600;

    text-decoration:none;

}

.auth-switch a:hover{

    text-decoration:underline;

}

.auth-error{
    text-align: center;

    color:#ef4444;

    font-size:.9rem;

    font-weight: bold;

    margin-top:10px;

}

.primary-btn:disabled{

    opacity:.7;

    cursor:not-allowed;

}

.spinner{

    width:18px;

    height:18px;

    border:2px solid rgba(255,255,255,.3);

    border-top:2px solid white;

    border-radius:50%;

    animation:spin .8s linear infinite;

    margin-right:10px;

}

@keyframes spin{

    to{

        transform:rotate(360deg);

    }

}