.auth-layout{
    min-height:100vh;
    background:#050608;
}

.auth-container{
    width:min(1400px,100%);
    min-height:100vh;

    margin:0 auto;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:24px;
}

.auth-left{
    display:none;
}

.auth-right{
    width:100%;
    display:flex;
    justify-content:center;
}