.auth-layout {
    height: 100dvh;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background: #050608;
}

.auth-container {
    height: 100%;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 48px 64px;
}

.auth-left {
    flex: 1;
    max-width: 560px;
}

.auth-right {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tablet */
@media (max-width: 1024px) {

    .auth-container {
        gap: 48px;
        padding: 40px;
    }

    .auth-left h1 {
        font-size: 3rem;
    }
}

/* Mobile */
@media (max-width: 768px) {

    .auth-container {

        flex-direction: column;

        justify-content: center;

        padding: 24px;

        min-height: auto;
    }

    .auth-left {

        display: none;

    }

    .auth-right {

        max-width: 420px;

        width: 100%;
    }
}