.footer{

    position: relative;

    overflow: hidden;

    background:#090909;

    color:white;

    padding:70px 0 24px;

    margin-top:120px;

    border-top:1px solid rgba(255,255,255,.05);

}

.footer .logo-text{
    color:#FFFFFF;
}

.footer .logo{
    margin-bottom:24px;
}

.footer::before{

    content:"ALPHA";

    position:absolute;

    right:40px;

    bottom:-20px;

    font-size:13rem;

    font-weight:900;

    letter-spacing:-8px;

    color:rgba(255,255,255,.025);

    pointer-events:none;

    user-select:none;

}

.footer-grid{

    display:grid;

    grid-template-columns:
        minmax(280px,2fr)
        repeat(4,minmax(140px,180px));

    justify-content:space-between;

    gap: 40px;

}

.footer-brand p{

    color:#9CA3AF;

    font-size: 0.8rem;

    line-height:1.8;

    max-width:320px;

    margin-top:28px;

}

.footer-column{

    display:flex;

    flex-direction:column;

}

.footer-column h4{

    color:#7C828D;

    text-transform:uppercase;

    letter-spacing: 0.12em;

    font: size 0.75em;

    font-weight:600;

    margin-bottom:22px;

}

.footer-column a{

    font-size: 0.7rem;

    color:#F5F5F5;

    margin-bottom:12px;

    text-decoration:none;

    transition:color .25s ease;

}

.footer-column a:hover{

    color:var(--primary);

    transform:translateX(4px);

}

.footer-bottom{

    margin-top:65px;

    padding-top:24px;

    border-top:1px solid rgba(255,255,255,.06);

    display:flex;

    justify-content:space-between;

    align-items:center;

    color:#7C828D;

    font-size: .8rem;

}

@media (max-width:768px){

.footer{

padding:60px 0 28px;

}

.footer-grid{

grid-template-columns:1fr;

gap:36px;

}

.footer-brand{

margin-bottom:12px;

}

.footer-column h4{

margin-bottom:16px;

}

.footer-bottom{

flex-direction:column;

align-items:flex-start;

gap:12px;

margin-top:40px;

}

.footer::before{

display:none;

}

}