.message-row {
    margin-left: 550px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.message-time {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 12px;
    color: #888;
}

.user-bubble{

    max-width:60%;

    padding:16px 24px;

    border-radius:28px;

    background:#1F1F1F;

    color:#fff;

}

.message-row-divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 8px 0;
}