.hero {
    position: relative;
    overflow: hidden;
    padding: 90px 0 40px;

}

.hero::before{
    content: "";

    position: absolute;

    width: 500px;
    height: 500px;

    background: radial-gradient(
        circle,
        rgba(45,167,190,.15),
        transparent 70%
    );

    top: -220px;
    left: 50%;

    transform: translateX(-50%);
}

.hero-mobile-action{
    display:none;
}

.hero-content {

    display: flex;

    flex-direction: column;

    align-items: center;

    text-align: center;

}

.hero-badge {

    display: inline-flex;

    align-items: center;

    gap: 8px;

    padding: 8px 18px;

    border-radius: 999px;

    background: var(--primary-light);

    color: var(--primary);

    font-size: .95rem;

    font-weight: 600;

    margin-bottom: 26px;

}

.hero-title {

    font-size: clamp(2.8rem, 6vw, 4.8rem);

    font-weight: 800;

    line-height: 1.1;

    letter-spacing: -2px;

    color: var(--text);

    max-width: 900px;

}

.hero-title span {

    color: var(--primary);

}

.hero-description{

    margin-top:70px;

    max-width:760px;

    margin-inline:auto;

    text-align:center;

}

.hero-description h2{

    font-size:2rem;

    font-weight:700;

    margin-bottom:20px;

    color:var(--text);

}

.hero-description p{

    font-size:1.1rem;

    line-height:1.8;

    color:var(--text-light);

}

.hero-highlights{

    display:flex;

    justify-content:center;

    align-items: center;

    gap: 18px;

    flex-wrap:wrap;

    margin-top: 42px;

}

.highlight-chip{

    border:1px solid rgba(45,167,190,.12);

    display:flex;

    align-items:center;

    gap:10px;

    padding:14px 24px;

    border-radius:999px;

    background:var(--primary-light);

    color:var(--primary);

    font-weight:600;

    font-size:1rem;

    transition:all .25s ease;

    cursor:default;

}

.highlight-chip .bolt{
    
    color: blue;

    font-size:1.35rem;

    flex-shrink:0;

}

.sparkles{
    
    color: gold;

    font-size:1.35rem;

    flex-shrink:0;

}

.highlight-chip .badge{
    
    color: green;

    font-size:1.35rem;

    flex-shrink:0;

}

.highlight-chip:hover{

    transform:translateY(-3px);

    box-shadow:0 10px 25px rgba(45,167,190,.15);

}

.hero-highlights span{

    padding:10px 18px;

    border-radius:999px;

    background:var(--primary-light);

    color:var(--primary);

    font-weight:600;

}


/* RESPONSIVENESS */

@media (max-width:768px){

.hero-mobile-action{

display:flex;

justify-content:center;

margin-top:32px;

}

.hero-mobile-action .alpha-btn{

min-width:120px;

padding:14px 28px;

font-size:1rem;

border-radius: 50px;
}

.hero-title{

max-width:320px;

margin:auto;

line-height:1.15;

letter-spacing:-1px;

}

.arrow{
    margin: 2px 0 0 8px;
    font-size: larger;
    font-weight: bolder;
}

.hero-description{

margin-top:55px;

}

.hero-description h2{

font-size:1.6rem;

}

.hero-description p{

font-size:1rem;

line-height:1.7;

}

}