.social-login{

    display:flex;

    flex-direction:column;

    gap:10px;

    margin-bottom: 16px;

}

.social-btn{

    height:56px;

    width:100%;

    border:none;

    outline:none;

    border-radius:16px;

    background:#18181b;

    border:1px solid rgba(255,255,255,.08);

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:14px;

    font-size:15px;

    font-weight:600;

    transition:.25s ease;

}

.social-btn:hover{

    background:#202024;

    border-color:#2DA7BE;

    transform:translateY(-2px);

}

.social-btn svg{

    font-size:24px;

}

.google-login-wrapper{

    position:relative;

    width:100%;

}

.google-login-overlay{

    position:absolute;

    inset:0;

    opacity:0;

    overflow:hidden;

}

.google-login-overlay > div{

    width:100% !important;

    height:100% !important;

}

.google-login-overlay iframe{

    width:100% !important;

    height:100% !important;

    cursor:pointer;

}
